body {

    background-color:  #096046 
  }
  


  .status {
    margin-bottom: 10px;
  }
  

  .beared-checker {
    width: 90%;
    height: 90%;
  
  }

 
  
  .circle {
      position:relative;
      z-index: 2
  }
  /* .svg-triangle {
      position: relative;
      z-index: 1
  } */
  .square:focus {
    outline: none;
  }
  
  /* .kbd-navigation .square:focus {
    background: #ddd;
  } */
  button:focus {outline:0;}
/* 
  .game {
    display: grid ;
    flex-direction: column;
    align-items: center;
    background-image: url(./board.jpeg);
  } */



  .beared-off {
    display: grid;
    grid-template-rows: 1fr 0.1fr 1fr;
    grid-column: 2;

    align-self: stretch;
    display: grid;
    background-image: url(bar2.jpeg);
    justify-items: center;
    align-items: center;

  }

  .beared-off-section {
    background-image: url(board.jpg);
    background-size: cover;
    height: 90%;
    width: 80%;
    display: grid;
    grid-template-rows: repeat(15,1fr);
    grid-template-columns: 1;
    align-items: center;
    justify-items: center;
    direction: rtl;
  }

  .beared-off-section.top {
    grid-row: 1;

  }
  .beared-off-section.bottom {
    grid-row: 3;
   
  }
  
  .game-back-board {
    background-image: url(bar2.jpeg);
    background-size: cover;
    padding: 0px;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

  }
  .centre-board {
    display: grid;
    grid-template-columns:repeat(13, 1fr);
    grid-template-rows:  1fr 0.5fr 1fr ;
    gap: 0px;
    /* align-items: center; */
    background-image: url(board.jpg);
    background-size: cover;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 95%;
    height: 95%;
    
  }



  /* .points-top {
    grid-row: 1;
    align-items: center;
    display: grid;
    
  }

  .points-bottom {
    grid-row: 3;
    align-items: center;
    display: block;
  } */


  .bar {

    background-image: url(bar2.jpeg);
    background-size:cover ;
    
  }

  .bar.centre {
    grid-row: 1/5;
    grid-column: 7;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;

  }

  .bar.top {
    grid-row: 1;
    grid-column: 1/15;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;

  }




  .bar-gap {
    grid-column: 2;
    background-color: #096046;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
  
  .dice {
    grid-row: 2;
    grid-column: 1/7;
    align-self: center;
    
    

  }

  .diceFace {
    font-size: 5em;
    color: black;
    background-color: ;
    height: 20%;

  }

  
  .game-info {
    margin-left: 20px;
  }
  
  .card span {
    font-size: 1.2vw;
  }

  .card a {
    font-size: 1vw;
  }

  .container {
    width: 85%;
  }

